* {
    color: #fff;
}

* p {
    color: #999999;
    font-size: 15px;
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 26px;
}

.section {
    padding: 80px 0px;
}

.container {
    max-width: 1170px;
}

.site-header {
    opacity: 0.9;
}

.nav-link {
    font-size: 13px;
    color: #fff;
}

.section-about {
    background-color: #000;
}

.about_img img {
    border-radius: 50%;
    max-width: 216px;
    height: 216px;
}

.btn {
    border-radius: none;
}

.btn-primary {
    color: #777777;
    background: #000;
    font-size: 12px;
    border-color: #777777;
    letter-spacing: 1px;
    padding: 12px 20px;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #fff;
}

.section-service {
    background-color: #070707;
}

.service__items {
    margin: 0px 100px;
}

.gallery-img img {
    width: 502px;
}

.gallery-img img {
    transition: 0.4s;
    opacity: 0.4;
}

.gallery-img a {
    overflow: hidden;
    display: block;
}

.gallery-img a:hover img {
    transform: scale(1.2);
    transition: 0.4s;
    opacity: 1;
}

.section-counter {
    position: relative;
}

.section-counter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: url(../images/counter.jpg) no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
}

.counter__info {
    position: relative;
    z-index: 10;
}


/* .section-counter {
    background: url(../img/counter.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 140px 0;
} */

.packages__items {
    margin: 0px 95px;
}

.packages__img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.packages__contant span {
    font-size: 12px;
    color: #999999;
}

.packages__item {
    max-width: 300px;
}

.section-reviews {
    background-color: #070707;
}

.people-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review__card {
    max-width: 335px;
    padding: 60px 25px;
}

.review__contant p {
    font-size: 13px;
    line-height: 24px;
}

.slide-item,
.slick-dots li button {
    border: 1px solid #777777;
    background-color: #000;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.slide-item,
.slick-dots li.slick-active button:before {
    background-color: #777777;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.slide-item,
.slick-dots li.slick-active button:before {
    color: #777777;
}

.slide-item,
.slick-dots li {
    margin: 0 1px;
}

.blog__card img {
    width: 350px;
    height: 218px;
}

.blog__card h6 a {
    color: #DDDDDD;
    display: block;
    text-decoration: none;
}

.blog__card a:hover {
    text-decoration: underline;
}

.read_more {
    color: #777777;
    font-size: 13px;
    letter-spacing: 1px;
}

.read_more:hover {
    color: #958e8e;
}

.section-contact {
    background-color: #070707;
}

.contant__info img {
    width: 50px;
    height: 60px;
}

.contant__info {
    border: 1px solid #222;
}

.contant__info h2 {
    font-size: 40px;
}

.box-border {
    border: 1px solid #222;
}

.footer-info p {
    max-width: 442px;
}

.footer__social ul li {
    border: 1px solid #999;
    padding: 0px 7px;
}

.footer__section {
    background-color: #070707;
}

.section-border {
    border-bottom: 1px solid #111;
}

.icon {
    border: 1px solid #999;
    padding: 3px 8px;
}

.tooltip {
    display: none;
}